<ion-item-group>
    <ion-item-divider (click)='toogle()'>

        <ion-icon [name]="iconName"></ion-icon>
        {{date|date:'d-MM-y (EEEE)'}}
    </ion-item-divider>
    <div *ngIf='showSessions'>
        <ion-item *ngFor="let ti_opt of timeOptions; let i = index">
            <ion-label>{{ti_opt.start_time | date:'hh:mm'}} - {{ti_opt.end_time | date:'hh:mm'}}</ion-label>

            <ion-checkbox dark (click)='toogleTimeOption(ti_opt, i)' [(ngModel)]='avaiable[i]'></ion-checkbox>
            <div item-right *ngFor='let u of ti_opt.voted_by'>
                <ion-avatar item-right>
                    <img src="{{u.avatar}}" />
                </ion-avatar>
            </div>

            <ion-badge item-right>{{ti_opt.voted_by.length}}</ion-badge>
        </ion-item>
    </div>
</ion-item-group>
